<%- include('partials/header') %>

    <body class="text-center">
        <form class="form-signin" method="post">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <label for="inputuserName" class="sr-only">Email</label>
            <input type="text" id="inputEmail" name='userName' class="form-control" placeholder="email@exemplo.com"
                required autofocus>
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password"
                required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </body>

    <%- include('partials/footer') %>